
div.navigation * {
	/*border: 2px solid white;*/
}

body {
	background: url('../images/background.jpg') no-repeat fixed 0 0 / 100% 100% #0d0d0d;
	margin: 0px;

}



/*
	HEADER
*/
div.header {
	position: fixed;
	padding: 0px;
	top: 0px;
	left: 0px;

	height: auto;
	width: 1260px;

	background-color: rgb(13, 13, 13);

	z-index: 100 ;
}


/*
	TOP PART OF THE HEADER
*/
div.header div.top {
	padding: 0px;
	margin: 0px;
	text-align: center;
}
div.header div.top > div {
	display: inline-block;
	position: relative;

}
div.header div.top div.left {
	float: left;
}

div.header div.top div.right {
	float: right;
}


/*
	BOTTOM PART OF THE HEADER
*/
div.header div.bottom > div{
	display: inline-block;
}
div.header div.bottom div.logo {
	margin-top: -15px;
	margin-left: 50px;
	width: 350px;
	height: 75px;
	
	background: url('../images/logo.gif') no-repeat left top;
	background-position: -350px 0px;

	float: left;
}
div.header table.search_bar {
	color: #fff;
	float: right;
	display: block;
	margin-top: 20px;
	margin-right: 10px;

	border-collapse: collapse;
	border-spacing: 0;

	background-color: #dfdfe0;
	padding: 4px;
}

div.header table.search_bar td {
	background-color: #fff;
}
div.header div.search_button {
	background:-moz-linear-gradient(center top , #fff39c, #fee474 50%, #fdd14c 50%, #fcc42e) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(252, 196, 46)), color-stop(0.5, rgb(253, 209, 76)), color-stop(0.5, rgb(254, 228, 116)), to(rgb(255, 243, 156)));
	
	width: 120px;
	height: 20px;

	text-align: center;

	border: 1px solid black;
}

div.header div.search_button p {
	color: #333;
	font-family: Arial;
	font-size: 12px;
	font-weight: 700;

	margin-top: 3px;
}

div.header table.search_bar td input.search_bar {
	background: url("../images/icon_sprites.png") no-repeat;
	background-position: 5px -225px;
	padding-left: 20px;

	width: 600px;
}







/*
	HEADER LISTS
*/
div.header div.top div ul {
	padding: 0px;
	margin: 0px;
}
div.header div.top div.header-container {
	margin-top: 6px;
}
div.header div.top div ul li {
	list-style: outside none none;
	float: left;
	padding: 0px 9px;
	border-left: 1px solid white;

	height: 10px;
	vertical-align: top;
}
div.header div.top div ul li:first-child {
	border-left: none;
}
div.header a:link, a:visited {
	font-size: 11px;
	font-family: Arial;
	text-decoration: none;
	color: white;

	margin-top: -2px;
	display: block;
}


/*
	NAVIGATION
*/
div.navigation {
	width: 150px;

	float: left;
	left: 0px;

	margin: 0px;
	padding: 0px;

}
div.navigation.stick {
	position: fixed;
	z-index: -1;
}
div.navigation.stick.bottom {
	bottom: 0px;
}
div.navigation.stick.top {
	top: 80px;
}


div.navigation ul {
	list-style: outside none none;
	margin: 5px 0px;
	padding: 0px;

}

div.navigation li {
	padding: 2px 0px 1px 10px;	

}
div.navigation li.active {
	border-left: 5px solid white;
}

div.navigation li a:link {
	font-family: Arial, "Helvetica Neue", ​Helvetica, ​Arial, ​sans-serif;
	color: white;

	font-size: 15px;
	font-weight: 300;
	text-decoration: none;
}
div.navigation li.active a:link {
	font-weight: 700;
}
div.navigation li a:hover {
	text-decoration: underline;
}




/*
	TOOLTIPS	
*/
a.tooltip span {
	position: absolute;
	z-index: 10;
	display: none;
	color: #000;
	margin-left: 12px;

}
a.tooltip:hover span {
	display: inline;
}
a.tooltip span ul {
	padding: 10px;
	background: #fff;

}
.callout {
	z-index: 20;
	position: absolute;
	top: 0px;
	border: 0;
	left: -12px;
}







/*
	CONTENTS
*/
div.content_wrapper {
	margin-left: 185px;
	margin-top: 80px;
}
div.column_center {

	width: 670px;
}
div.column_right {
	width: 300px;
}
div.wrapper {
	background-color: rgba(255, 255, 255, 0.5);
	height: 1500px;
	
	margin: 5px 15px;
	float: left;
}



/*
	SUPER-HERO
*/
div.super-hero, div.super-hero * {
}

div.super-hero div.main {
	position: relative;
	width: 100%;
	height: 300px;
	float: left;

	background-image: url("../images/super-hero-img1.jpg");
}

div.super-hero div.main div.ribbon {
	background-color: #579160;
	padding: 4px 8px;
	display: inline-block;
	margin: 0px;

	

	font-family: Helvetica;
	font-size: 11px;
	font-weight: 700;
	font-style: normal;
	font-size-adjust: none;
	color: #fff;
	letter-spacing: normal;
	word-spacing: 0px;
	line-height: 13.75px;
	text-align: center;
}

div.super-hero div.main div.super-hero-inner-wrapper {
	background-color: rgba(0, 0, 0, 0.5);
	padding-bottom: 20px;
	display: inline-block;
	width:100%;
}
div.super-hero div.main div.super-hero-outer-wrapper {
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: auto;


	font-family: Helvetica;
	font-weight: 400;
	font-style:	normal;
	font-size-adjust: none;
}
div.super-hero div.main  a:link {
	text-decoration: none;
}
div.super-hero div.main  a:hover{
	text-decoration: underline;
}

div.super-hero div.main  div.title {
	line-height: 28.1333px;
	margin: 6px 10px;
	font-size: 22.5px;
}
div.super-hero div.main  div.text {
	margin: 6px 10px;
	line-height: 15.9333px;
	color: #fff;
	font-size: 12.75px;
}
div.super-hero div.main  div.links {
	line-height: 15.8833px;
	margin: 6px 10px;
	font-size: 12.7px;
}

div.super-hero div.main  div.links ul {
	padding: 0px;
	margin: 0px;
}

div.super-hero div.main  div.links ul li {
	list-style: outside none none;
	float: left;
	padding: 0px 6px;
	border-left: 1px solid white;

	height: 16px;
	vertical-align: top;
}
div.super-hero div.main  div.links ul li:first-child {
	padding-left: 0px;
	border-left: none;
}
div.super-hero div.main  div.links a:link, div.super-hero div.main  div.links a:visited {
	display: block;
	color: #8ec0ff;
}












div.super-hero a.thumbnail {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	width: 166.5px;
	height: 117px;
	float: left;
	
	border-right: 1px solid #404339;
	border-bottom: 5px solid #27282c;

	background-color: #27282c;
}
div.super-hero a.thumbnail.selected {
	border-bottom: 5px solid white;
}

div.super-hero a.thumbnail div.img_wrapper {
	height: 72px;
	overflow: hidden;
	position: relative;
}
div.super-hero a.thumbnail div.img_wrapper img {
	width: 100%;
	position: relative;
}
div.super-hero a.thumbnail div.img_wrapper div.ribbon {
	position: absolute;
	bottom: 0px;
	background-color: #579160;
	padding: 4px 8px;


	font-family: Helvetica;
	font-size: 11px;
	font-weight: 700;
	font-style: normal;
	font-size-adjust: none;
	color: #fff;
	letter-spacing: normal;
	word-spacing: 0px;
	line-height: 13.75px;
	text-align: center;
}

div.super-hero a.thumbnail:link, div.super-hero a.thumbnail:visited {
	text-decoration: none;
}
div.super-hero a.thumbnail div.text {
	padding: 8px 6px 0px 5px;
	height: 30px;
	overflow: hidden;

	font-family: Helvetica;
	font-size: 11px;
	font-weight: 400;
	font-style: normal;
	font-size-adjust: none;
	color: rgb(240,​ 240,​ 240);
	letter-spacing: normal;
	word-spacing: 0px;
	line-height: 15px;
	text-align: left;

}

.hidden {
	display: none;
}
/*
	TEST

div.test {
	position:fixed;
	right: 30px;
	background-color: rgba(200, 200, 40, 0.8);

	padding: 10px;
}