<div class='event'>
	<div class='register hidden'>
		Register
	</div>
	<div class='wrap'>
		<div class='title field'> 
			<span class="label title"> Title: </span>
		</div>

		<div class='timestamp field'>
			<span class="label timestamp"> When: </span>
		</div>

		<div class='location field'>
			<span class="label location"> Location: </span>
		</div>

		<div class='attendees field hidden'>
			<span class="label attendees"> Attendees: </span>
		</div>

		<div class='toggle toggle_off'>
			<div class='description field'>
				<span class="label description"> Description: </span>
			</div>
		</div>
	</div>
	<div class='toggle_more_less more'>
	⇕
	</div>
</div>
