<div class="dialog add_event">
	<h1> New Event </h1>
	<ul>
		<li>
			<div class="info"></div>
		</li>
		<li>
			<div class="label title"> Title: </div>
			<input id="title">
		</li>
		<li>
			<div class="label location"> Location: </div>
			<input id="location">
		</li>
		<li>
			<div class="label description"> Description: </div>
			<input id="description">
		</li>
		<li>
			<div class="label date"> Date: </div>
			<input id="date">
		</li>
		<li><button type="button" href="./" class="submit"> Submit </button></li>
	</ul>
</div>