div.modal_overlay {
	position: absolute;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.4);

	opacity: 0;
}

div.modal_overlay div.dialog {
	position:absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;

	background-color: #a4b4c4;
	border: 3px solid #364396;
	border-radius: 20px 40%;

	padding: 5px 15px;
	text-align: center;

	font-family: "Courier New", Courier, monospace;
	color: #364396;

}

div.modal_overlay div.dialog h1 {
	margin: 15px 0px;
}

div.modal_overlay div.dialog ul {
	padding: 0px;
	margin: 0px;
}

div.modal_overlay div.dialog ul li {
	list-style-type: none;
	overflow: hidden;
	display: block;
	margin-top: 10px;
}

div.modal_overlay div.dialog ul li div.label {
	float: left;
	padding: 0px 5px 0px 10px;
	font-size: 14px;
	line-height: 23px;
}
div.modal_overlay div.dialog ul li input {
	float: right;
	padding: 0px 10px 0px 5px;
	border: 1px solid #364396;	
	width: 150px;
}

div.modal_overlay div.dialog ul li button {
	width: 100px;
	height: 25px;
	color: #364396;
	border: 1px solid #364396;
	font-weight: 900;
}
div.modal_overlay div.dialog ul li div.info {
	font-size: 12px;
	color: red;

}


/*
	Custom modal dialogs
*/

div.modal_overlay div.log_in {
	
	width: 280px;
	height: 200px;
}

div.modal_overlay div.add_event {
	
	width: 310px;
	height: 250px;
}


div.modal_overlay div.add_event li div.label.wrong {
	color: red;
}